/*[data-theme="dark"],
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
section {
    background-color: #111 !important;
    color: #eee;
}*/

[data-theme="dark"] .main-wrapper {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .heading {
    color: #eee;
}

[data-theme="dark"] .title>a {
    color: #eee !important;
}

[data-theme="dark"] .title {
    color: #eee !important;
}

[data-theme="dark"] .main-wrapper .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .main-wrapper .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .main-wrapper .bg-black {
    background-color: #eee !important;
}