[data-theme="dark"] .main-wrapper {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .heading {
    color: #eee;
}

[data-theme="dark"] .header {
    color: #eee !important;
}

[data-theme="dark"] .header>a {
    color: #eee !important;
}

[data-theme="dark"] .header .blog-name>a {
    color: #eee !important;
}

[data-theme="dark"] .profile-section .bio>a {
    color: #eee !important;
}

[data-theme="dark"] .profile-section .bio>a:hover {
    color: #eee !important;
}

[data-theme="dark"] .header .nav-item .nav-link {
    color: #eee !important;
}

[data-theme="dark"] .header .nav-item .nav-link:hover {
    color: #333 !important;
}

[data-theme="dark"] .header .nav-item.active>a {
    color: #333 !important;
}

[data-theme="dark"] .custom-switch .custom-control-input:checked~.custom-control-label::before {
    background-color: rgb(80, 79, 79) !important;
}

[data-theme="dark"] .custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: rgb(29, 29, 29) !important;
}

[data-theme="dark"] .navbar-nav .dropdown-menu {
    background-color: #333 !important;
}

[data-theme="dark"] .navbar-nav .dropdown-menu>a {
    color: #eee !important;
}

[data-theme="dark"] .btn-primary {
    color: #eee !important;
}

[data-theme="dark"] .btn-primary:hover {
    color: #333 !important;
}

[data-theme="dark"] .social-list .list-inline-item>a {
    background-color: #333 !important;
}

[data-theme="dark"] .social-list .list-inline-item>a:hover {
    background-color: #eee !important;
}

[data-theme="dark"] .title>a {
    color: #eee !important;
}

[data-theme="dark"] .title {
    color: #eee !important;
}

[data-theme="dark"] .nav-link {
    color: #333 !important;
}

[data-theme="dark"] .page-link:not(.active .page-link) {
    background-color: #333 !important;
}

[data-theme="dark"] .page-item.active .page-link {
    color: #eee !important;
}

[data-theme="dark"] .page-item.disabled .page-link {
    color: #333 !important;
}

[data-theme="dark"] .main-wrapper .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .main-wrapper .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .main-wrapper .bg-black {
    background-color: #eee !important;
}

[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] h5,
[data-theme="dark"] h6 {
    color: #eee !important;
}

[data-theme="dark"] table {
    color: #eee !important;
}

[data-theme="dark"] code {
    color: #eee !important;
}